@use "../../../../scss/variables" as v;

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid v.$dark-gray;
    position: relative;
    &__option {
        color: v.$gray;
        font-family: v.$Spartan;
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 1.93px;
        line-height: auto;
        text-decoration: none;
        position: relative;
        &::after {
            content: '';
            opacity: 0;
            height: 4px;
            width: 100%;
            position: absolute;
            bottom: -21px;
            left: 0;
            background-color: var(--active, v.$white);
            transition: opacity .4s ease, background-color .4s ease;
        }
    }
}

.active {
    color: v.$white;
    &::after {
        opacity: 1;
    }
}