@use "../../../scss/variables" as v;

.header {
    app-planet-option {
        display: none;
    }
    color: v.$white;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid v.$dark-gray;
    background-color: v.$deep-space-blue;
    &__title {
        font-family: v.$Antonio;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.75rem;
        letter-spacing: -1.05px;
        line-height: auto;
    }
    &__open-menu-btn {
        background-color: transparent;
        border: none;
        background: url(../../../assets/icon-hamburger.svg) no-repeat center;
        transition: filter .3s ease;
        cursor: pointer;
        &-icon {
            width: 1.5rem;
            opacity: 0;
        }
    }
}

.open {
    filter: brightness(30%);
}

@media screen and (min-width: 768px) {
    .header {
        app-planet-option {
            display: block;
        }
        padding: 2rem 2rem 1.6875rem 2rem;
        justify-content: center;
        flex-direction: column;
        gap: 2.4375rem;
        &__open-menu-btn {
            display: none;
        }
    }
}