@use "../../../scss/variables" as v;

.planets {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__option {
        display: flex;
        border-bottom: 1px solid v.$dark-gray;
    }
    &__link {
        padding-bottom: 1.25rem;
        color: v.$white;
        display: flex;
        align-items: center;
        gap: 1.5625rem;
        width: 100%;
        font-family: v.$Spartan;
        font-size: .9375rem;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.5625rem;
        letter-spacing: 1.36px;
        text-decoration: none;
        cursor: pointer;
        &-circle {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        img {
            margin-left: auto;
        }
    }
}



@media screen and (min-width: 768px) {
    .planets {
        flex-direction: row;
        gap: 2.0625rem;
        &__option {
            display: flex;
            border: none;
        }
        &__link {
            padding-bottom: 0;
            letter-spacing: 1px;
            font-size: 11px;
            opacity: .5;
            &-circle {
                display: none;
            }
            img {
                display: none;
            }
        }
    }
}

.active {
    opacity: 1;
}