@use "../../../scss/variables" as v;

.planets {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__option {
        display: flex;
        padding-bottom: 1.25rem;
        border-bottom: 1px solid v.$dark-gray;
    }
    &__link {
        color: v.$white;
        display: flex;
        align-items: center;
        gap: 1.5625rem;
        width: 100%;
        font-family: v.$Spartan;
        font-size: .9375rem;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.5625rem;
        letter-spacing: 1.36px;
        &-circle {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        img {
            margin-left: auto;
        }
    }
}