@use "../scss/variables" as v;

mat-drawer-content {
    display: flex;
    flex-direction: column;
    background-color: v.$deep-space-blue;
    max-height: 88vh;
}

.mat-drawer {
    background-color: v.$deep-space-blue;
    width: 100%;
    padding: 1.5rem;
}
