<section class="planet-info" *ngIf="currentPlanet$ | async as planet">

    <img *ngIf="currentRoute === 'overview'" [src]="planet.images.planet" alt="" class="planet-info__image">

    <img *ngIf="currentRoute === 'structure'" [src]="planet.images.internal" alt="" class="planet-info__image">

    <div *ngIf="currentRoute === 'surface'" class="planet-info__images">
        <img  [src]="planet.images.planet" alt="" class="planet-info__image">
        <img  [src]="planet.images.geology" alt="" class="planet-info__images-surface">        
    </div>

    <div class="planet-info__text">
        <h2 class="planet-info__title">{{ planet.name }}</h2>
        <p class="planet-info__description">{{ planet.overview.content }}</p>
        <a 
            class="planet-info__source" 
            target="_blank" 
            noopener noreferrer 
            [href]="planet.overview.source">
            <span>Source: </span> <strong>Wikipedia </strong>
            <img src="icon-source.svg" alt="" class="planet-info__source-icon">
        </a>
    </div>
    <ul class="planet-info__card-list">
        <app-planet-overview-card [cardTitle]="'Rotation Time'" [cardData]="planet.rotation"></app-planet-overview-card>
        <app-planet-overview-card [cardTitle]="'Revolution Time'" [cardData]="planet.revolution"></app-planet-overview-card>
        <app-planet-overview-card [cardTitle]="'Radius'" [cardData]="planet.radius"></app-planet-overview-card>
        <app-planet-overview-card [cardTitle]="'Average Temp.'" [cardData]="planet.temperature"></app-planet-overview-card>
    </ul>
</section>
