@font-face {
    font-family: "Spartan";
    src: url(../assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Antonio";
    src: url(../assets/fonts/Antonio-VariableFont_wght.ttf);
}

$white: #FFFFFF;
$deep-space-blue: #070724;
$dark-gray: #38384F;
$gray: #838391;
$ocean-blue: #419EBB;
$sunset-orange: #EDA249;
$rust-orange: #CD5120;
$purple: #6F2ED6;
$red: #D14C32;
$red-fire: #D83A34;
$green: #1EC2A4;
$azure: #2D68F0;
$Antonio: "Antonio", sans-serif;
$Spartan: "Spartan", sans-serif;