<app-planet-info-navbar></app-planet-info-navbar>
<section class="planet-info">
    <img src="planet-mercury.svg" alt="" class="planet-info__image">
    <div class="planet-info__text">
        <h2 class="planet-info__title">Mercury</h2>
        <p class="planet-info__description">Mercury is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. Mercury is one of four terrestrial planets in the Solar System, and is a rocky body like Earth.</p>
        <p class="planet-info__source">
            <span>Source: </span> <strong>Wikipedia </strong>
            <img src="icon-source.svg" alt="" class="planet-info__source-icon">
        </p>
    </div>
    <ul class="planet-info__card-list">
        <li class="planet-info__card-item">
            <span class="planet-info__card-item-title">Rotation Time</span>
            <strong class="planet-info__card-item-data">58.6 days</strong>
        </li>
        <li class="planet-info__card-item">
            <span class="planet-info__card-item-title">Rotation Time</span>
            <strong class="planet-info__card-item-data">58.6 days</strong>
        </li>
        <li class="planet-info__card-item">
            <span class="planet-info__card-item-title">Rotation Time</span>
            <strong class="planet-info__card-item-data">58.6 days</strong>
        </li>
        <li class="planet-info__card-item">
            <span class="planet-info__card-item-title">Rotation Time</span>
            <strong class="planet-info__card-item-data">58.6 days</strong>
        </li>
    </ul>
</section>