@use "../../../scss/variables" as v;

.planet-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../../assets/background-stars.svg) center no-repeat;
    background-size: cover;
    padding: 1.5rem;
    &__image {
        width: 111px;
        padding: 85px 0;
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    &__title {
        font-family: v.$Antonio;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: normal;
    }
    &__description {
        font-family: v.$Spartan;
        font-size: .875rem;
        font-weight: 200;
        opacity: .7;
        line-height: 22px;
        text-align: center;
    }
    &__source {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-family: v.$Spartan;
        font-size: .9375rem;
        font-weight: 200;
        opacity: .7;
        line-height: 25px;
        text-align: center;
        strong {
            text-decoration: underline;
        }
    }
    &__card-list {
        margin-top: 1.75rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        list-style-type: none;
        width: 100%;
    }
    &__card-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid v.$gray;
        padding: .8rem 1.5rem;
        &-title {
            font-family: v.$Spartan;
            font-size: .75rem;
            font-weight: bold;
            text-transform: uppercase;
            opacity: .5;
            line-height: 16px;
            letter-spacing: 0.37px;
        }
        &-data {
            font-family: v.$Antonio;
            font-weight: normal;
            font-size: 20px;
            letter-spacing: -0.75px;
        }
    }

    color: v.$white;
}